In [1]:
import pandas as pd
import numpy as np
import requests
from io import StringIO

url = 'https://data.police.uk/api/crimes-street-dates'

req = requests.get(url)
data = pd.read_json(req.text)
data.head()

        date                                    stop-and-search
0 2024-04-01  [bedfordshire, btp, cambridgeshire, city-of-lo...
1 2024-03-01  [bedfordshire, btp, cambridgeshire, city-of-lo...
2 2024-02-01  [bedfordshire, btp, cambridgeshire, city-of-lo...
3 2024-01-01  [avon-and-somerset, bedfordshire, btp, cambrid...
4 2023-12-01  [avon-and-somerset, bedfordshire, btp, cambrid...

In [2]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36 entries, 0 to 35
Data columns (total 2 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   date             36 non-null     datetime64[ns]
 1   stop-and-search  36 non-null     object
dtypes: datetime64[ns](1), object(1)
memory usage: 708.0+ bytes

In [4]:
!pip install mysql.connector

Collecting mysql.connector
  Downloading mysql-connector-2.2.9.tar.gz (11.9 MB)
     ---------------------------------------- 0.0/11.9 MB ? eta -:--:--
     ---------------------------------------- 0.0/11.9 MB 1.9 MB/s eta 0:00:07
      --------------------------------------- 0.2/11.9 MB 2.1 MB/s eta 0:00:06
     - -------------------------------------- 0.5/11.9 MB 4.3 MB/s eta 0:00:03
     ---- ----------------------------------- 1.2/11.9 MB 7.6 MB/s eta 0:00:02
     -------- ------------------------------- 2.6/11.9 MB 11.8 MB/s eta 0:00:01
     -------------- ------------------------- 4.4/11.9 MB 16.3 MB/s eta 0:00:01
     --------------------- ------------------ 6.3/11.9 MB 20.0 MB/s eta 0:00:01
     --------------------------- ------------ 8.2/11.9 MB 22.6 MB/s eta 0:00:01
     --------------------------------- ------ 9.9/11.9 MB 23.5 MB/s eta 0:00:01
     --------------------------------------  11.8/11.9 MB 38.5 MB/s eta 0:00:01
     --------------------------------------- 11.9/11.9 MB 34.4 MB/s eta 0:00:00
  Preparing metadata (setup.py): started
  Preparing metadata (setup.py): finished with status 'done'
Building wheels for collected packages: mysql.connector
  Building wheel for mysql.connector (setup.py): started
  Building wheel for mysql.connector (setup.py): finished with status 'done'
  Created wheel for mysql.connector: filename=mysql_connector-2.2.9-cp311-cp311-win_amd64.whl size=247958 sha256=32caef94118d275cda225b62ebfd5e42bc71d8d9b9f0b2ecbf820236e97af6cc
  Stored in directory: c:\users\aashi\appdata\local\pip\cache\wheels\17\cd\ed\2d49e9bac69cf09382e4c7cc20a2511202b48324b87db26019
Successfully built mysql.connector
Installing collected packages: mysql.connector
Successfully installed mysql.connector-2.2.9

In [5]:
import mysql.connector

In [6]:
conn = mysql.connector.connect(host='localhost',user='root',password='',database='world')

In [8]:
pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'IND'",conn)

C:\Users\aashi\AppData\Local\Temp\ipykernel_25576\1285320557.py:1: UserWarning: pandas only supports SQLAlchemy connectable (engine/connection) or database string URI or sqlite3 DBAPI2 connection. Other DBAPI2 objects are not tested. Please consider using SQLAlchemy.
  pd.read_sql_query("SELECT * FROM city WHERE CountryCode LIKE 'IND'",conn)

       ID                Name CountryCode        District  Population
0    1024     Mumbai (Bombay)         IND     Maharashtra    10500000
1    1025               Delhi         IND           Delhi     7206704
2    1026  Calcutta [Kolkata]         IND    West Bengali     4399819
3    1027    Chennai (Madras)         IND      Tamil Nadu     3841396
4    1028           Hyderabad         IND  Andhra Pradesh     2964638
..    ...                 ...         ...             ...         ...
336  1360        Ambala Sadar         IND         Haryana       90712
337  1361          Baidyabati         IND    West Bengali       90601
338  1362               Morvi         IND         Gujarat       90357
339  1363             Raigarh         IND     Chhatisgarh       89166
340  1364            Vejalpur         IND         Gujarat       89053

[341 rows x 5 columns]